* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

Body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 7px !important;
  height: auto;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(78, 119, 255);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.enable-fs-container {
  display: none;
}

.form-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.form-content-wraper {
  position: relative;
  padding: 45px 0 5px 0;
  display: flex;
  background-color: rgb(78, 119, 255);
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  width: 700px;
}


.header-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 6px;
  width: 100%;
  gap: 10px;
  padding: 0 18px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

#logo {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: white;
  display: flex;
  align-items: center;
}

.header-container button {
  border: none;
  border-radius: 3px;
}

#add-player {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;

}

#toss-btn {
  display: flex;
  gap: 5px;
  align-items: center;
  width: 80px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

#reset-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

#togglebtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-container {
  padding: 15px;
  display: flex;
  gap: 25px;
  flex-direction: column;
  width: 350px;
  height: 350px;
  background-color: #f6f6f6;
}

.player-select-score-container {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 25px;
  flex-direction: column;
  height: 90%;
}


button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: transparent;
  border: none;
  cursor: pointer;
  min-height: 30px;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
}

input {
  outline: transparent;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: flex;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: #ffffff;
}

.material-symbols-outlined {
  display: flex;
  font-family: 'Material Icons';
  font-weight: normal;
  font-size: 24px;
  color: #4E77FF;
}


.service-indicator {
  position: absolute;
  top: 32%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;
}

.active {
  background-color: #00D084;
}

#player-one-service-indicator {
  left: 3.3%;
  visibility: visible;
}

#player-two-service-indicator {
  visibility: visible;
  left: 53.3%;
}

.player-one-score,
.player-two-score {
  position: relative;
}

.inc-dsc-btn-container {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0;
  margin: 0;
  height: 10%;
}

select {
  outline: transparent;
  border: 1px solid rgb(155, 205, 255);
  border-radius: 3px;
  width: auto;
  font-family: 'Open Sans', sans-serif;
  font-weight: medium;
  font-size: 16px;
  padding: 5px;
}

.player-container input {
  outline: transparent;
  border: 1px solid gainsboro;
  border-radius: 3px;
  width: auto;
  height: 88%;
  font-family: 'Open Sans', sans-serif;
  font-size: 100px;
  text-align: center;
  color: rgb(82, 82, 82);
  background-color: transparent;
  cursor: pointer;
}

.decrease-player-one-score,
#increase-player-one-score,
.decrease-player-two-score,
#increase-player-two-score {
  outline: none;
  border: none;
  width: 50%;
  padding: 10px 0 10px 0;
  margin: 0;
  border-radius: 3px;
}

.decrease-player-one-score,
.decrease-player-two-score {
  background-color: #c41b1b;
  color: white;
}

#increase-player-one-score,
#increase-player-two-score {
  background-color: #1baf79;
  color: white;
}


.hidden {
  display: none !important;
}

.result-popup {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  gap: 20px;
  top: 50%;
  left: 50%;
  width: 500px;
  min-height: 250px;
  height: auto;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.result-popup .score-content-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 50%;
}

.score-content-container h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin: 0;
  font-size: 22px;
}

.score-content-container h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 0px;
}

.result-popup .button-container {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 50%;
}

.button-container button {
  width: 50%;
  height: 30px;
}

.button-container .close-popup-button,
.close {
  color: white;
  background-color: #CF2E2E;
}

.button-container .save-record-button,
.save {
  color: rgb(255, 255, 255);
  background-color: #00D084;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,
      0,
      0,
      0.85);
  z-index: 9999;
}


.modal {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #f6f6f6;
  width: 35%;
  height: 50%;
  padding: 15px;
  border-radius: 3px;
  overflow: hidden;
}

.input-container {
  display: flex;
  gap: 10px;
}

.input-container input {
  width: 80%;
  height: 35px;
  padding-left: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: left;
  border: 1px solid #4E77FF;
  border-radius: 3px;
}

.input-container button {
  display: flex;
  gap: 10px;
  color: white;
  background-color: #4E77FF;
}

.input-container button {
  width: 20%;
}

.player-list-container {
  display: flex;
  flex-grow: 1;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 5px;
  overflow-y: scroll;
}

.player-list-container ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.player-list-container li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  width: 100%;
  padding: 0 0 3px 3px;
  border-bottom: 1px solid rgb(237, 237, 237);
}

.player-list-container li button {
  display: flex;
  aspect-ratio: 1/1;
  justify-content: center;
  align-items: center;
  line-height: 0;
  font-size: 12px;
  border-radius: 50px;
}

.player-list-container li button:hover{
  transition: 0.5s;
  background-color: red;
}
.player-list-container li button:hover .material-symbols-outlined{
  transition: 0.5s;
  color: white;
}


.player-list-container .material-symbols-outlined {
  display: flex;
  font-family: 'Material Icons';
  font-weight: normal;
  font-size: 16px;
  color: #e72828;
}


.actn-btn-container {
  display: flex;
  height: 30px;
  gap: 20px;
}

.actn-btn-container button {
  width: 50%;
}


@media (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {

  Body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    min-height: 100svh;
    min-width: 100svw;
    background-color: var(--bbc, #f6f6f6);
    overflow: hidden;
  }

  body::before {
    content: "Rotate Your Phone";
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    overflow: hidden;
  }

  body::after {
    content: "Enable Full Screen";
    display: flex;
    position: absolute;
    top: 20px;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
    overflow: hidden;
  }

  .form-wraper {
    display: none;
  }
}


@media (min-height: 100px) and (max-height: 480px) and (orientation: landscape) {
  html {
    padding: 0;
    margin: 0;
    overflow: hidden;
  }

  body {
    width: 100svw;
    height: 100svh;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }

  #fs-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: fit-content;
    height: 35px;
    color: white;
    background-color: #4E77FF;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    border: none;
    border-radius: 3px;
  }


  #fs-btn:focus {
    background-color: #1BAF79;
    outline: none;
  }

  .enable-fs-container:not(:fullscreen) {
    display: contents;
  }

  :fullscreen .enable-fs-container {
    display: none;
  }



  .form-wraper:not(:fullscreen) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
  }

  :fullscreen .form-wraper {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 10px !important;

  }

  .form-content-wraper {
    display: none;
  }

  .form-content-wraper:not(:fullscreen) {
    display: none;
  }

  :fullscreen .form-content-wraper {
    display: flex;
    position: relative;
    width: fit-content;
    height: 100%;
    padding: 45px 0 5px 0;
    background-color: rgb(78, 119, 255);
    overflow: hidden;
    border-radius: 3px;
    z-index: 100;
  }


  :fullscreen .player-container {
    padding: 7px 15px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    width: 360px;
    max-width: 480px;
    height: 100%;
    background-color: #f6f6f6;
  }

  :fullscreen .player-select-score-container {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
    flex-direction: column;
    height: 90%;
  }

  :fullscreen .service-indicator {
    position: absolute;
    top: 30%;
  }
  
  .modal-content {
    width: 70%;
    height: 70%;
  }
  
}
